In [5]:
import pandas as pd #Inicializa a biblioteca pandas

In [18]:
metalbands = pd.read_csv('datasets/bands.csv', delimiter = ',') #Faz a leitura do dataset, 
                                                                #o mesmo utiliza a virgula como separador

In [17]:
metalbands['genre'].describe() #Mais informações sobre o campo "genre"

count           37723
unique           2563
top       Death Metal
freq             9621
Name: genre, dtype: object

In [19]:
metalbands.columns #Mostra os títulos das colunas do dataset

Index(['id', 'name', 'country', 'status', 'formed_in', 'genre', 'theme',
       'active'],
      dtype='object')

In [22]:
type(metalbands) # Mostra o tipo

pandas.core.frame.DataFrame

In [23]:
metalbands.shape #apresenta o número de tabelas (37.723) e e número de colunas (8)

(37723, 8)

In [30]:
metalbands.iloc[:3,:] # Mostra as 3 primeiras linhas

,id,name,country,status,formed_in,genre,theme,active
0,1,('M') Inc.,United States,Unknown,2009.0,Death Metal,NaN,2009-?
1,2,(sic),United States,Split-up,1993.0,Death Metal,NaN,1993-1996
2,3,.F.O.A.D.,France,Active,2009.0,Death Metal,Life and Death,2009-present

In [33]:
metalbands.iloc[-3:,:] #apresenta as 3 ultimas linhas

,id,name,country,status,formed_in,genre,theme,active
37720,37721,Lunarsapian,International,Active,2008.0,Black/Death/Doom Metal (early)| Drone/Dark Amb...,NaN,2008-present
37721,37722,Subconscious,Germany,Active,1990.0,Progressive Thrash/Death Metal (1992| 2002-pre...,NaN,1990-1997| 2002-present
37722,37723,Frozen Mist,United States,Active,2004.0,Gothic Metal (2004-2006)| Melodic Death/Gothic...,Darkness| Despair| Death| Horror| Pagan Ancestry,2004-2014| 2014-2016| 2016-present

In [34]:
metalbands.head(6) #Lista o 6 primeiros valores, sem o valor especificado mostra 5

,id,name,country,status,formed_in,genre,theme,active
0,1,('M') Inc.,United States,Unknown,2009.0,Death Metal,NaN,2009-?
1,2,(sic),United States,Split-up,1993.0,Death Metal,NaN,1993-1996
2,3,.F.O.A.D.,France,Active,2009.0,Death Metal,Life and Death,2009-present
3,4,100 Suns,United States,Active,2004.0,Death Metal,NaN,2004-present
4,5,12 Days of Anarchy,United States,Split-up,1998.0,Death Metal,Anarchy,1998-2002
5,6,13th Cadaver,United States,Changed name,2006.0,Death Metal,Death| Gore| Undead,2006-?| ?-2007 (as Splatter the Cadaver)| 2008...

In [36]:
metalbands.tail(6) #Mostra os 6 últimos valores, sem o valor definido mostra os 5

,id,name,country,status,formed_in,genre,theme,active
37717,37718,Extreme Noise Terror,United Kingdom,Active,1985.0,Crust/Grindcore (early)| Hardcore Punk/Death M...,Animal Rights| Social/Political| Hate| Humanity,1985 (as Raw Noise)| 1985-present
37718,37719,Gladiator,Slovakia,Active,1988.0,Death/Thrash Metal (1988-93)| Grunge/Hard Rock...,Sorrow| Nuclear War| Doom,1988-present
37719,37720,Innersight,Hungary,Active,1997.0,Post-Rock (early)| Progressive Death Metal (mi...,NaN,1997-present
37720,37721,Lunarsapian,International,Active,2008.0,Black/Death/Doom Metal (early)| Drone/Dark Amb...,NaN,2008-present
37721,37722,Subconscious,Germany,Active,1990.0,Progressive Thrash/Death Metal (1992| 2002-pre...,NaN,1990-1997| 2002-present
37722,37723,Frozen Mist,United States,Active,2004.0,Gothic Metal (2004-2006)| Melodic Death/Gothic...,Darkness| Despair| Death| Horror| Pagan Ancestry,2004-2014| 2014-2016| 2016-present

In [37]:
metalbands.info() #Mostra as informações

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37723 entries, 0 to 37722
Data columns (total 8 columns):
id           37723 non-null int64
name         37723 non-null object
country      37723 non-null object
status       37723 non-null object
formed_in    33392 non-null float64
genre        37723 non-null object
theme        20179 non-null object
active       33796 non-null object
dtypes: float64(1), int64(1), object(6)
memory usage: 2.3+ MB

In [49]:
sts = metalbands['status'] #Mostra somente o campo 'status'

In [55]:
sts.head(5)

0     Unknown
1    Split-up
2      Active
3      Active
4    Split-up
Name: status, dtype: object

In [52]:
stss = sts.values

In [54]:
type(stss)

numpy.ndarray