In [1]:
import pandas as pd
import numpy as np

In [2]:
s = pd.Series([1, 4, 6, 5, 7, 10, 6])

In [3]:
s

0     1
1     4
2     6
3     5
4     7
5    10
6     6
dtype: int64

In [4]:
s[0]

1

In [5]:
s[2:4]

2    6
3    5
dtype: int64

In [6]:
#Mostra as informações da array
s.describe()

count     7.000000
mean      5.571429
std       2.760262
min       1.000000
25%       4.500000
50%       6.000000
75%       6.500000
max      10.000000
dtype: float64

In [7]:
#Calcula a média
s.mean()

5.571428571428571

In [8]:
#Calcula a mediana
s.median()

6.0

In [9]:
#Apresenta os valores duplicados
s.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [10]:
s2 = pd.Series([11, 5, 8])

In [11]:
#Inclue no array s todos os valores do array s2
s = s.append(s2)

In [12]:
s

0     1
1     4
2     6
3     5
4     7
5    10
6     6
0    11
1     5
2     8
dtype: int64

In [14]:
#Cria o dataframe
df = pd.DataFrame(
[['fchollet/keras', 11302], ['openai/universe', 4350], ['pabdas-dev/pandas', 8168]])

In [15]:
#mostra o tamanho do dataframe
df.shape

(3, 2)

In [16]:
#exibe uma tabela com os dados

df

                   0      1
0     fchollet/keras  11302
1    openai/universe   4350
2  pabdas-dev/pandas   8168

In [19]:
#Cria o dataframe especificando o cabeçalho para que seja gerado uma tabela
df = pd.DataFrame(
[['fchollet/keras', 11302], ['openai/universe', 4350], ['pabdas-dev/pandas', 8168]],
columns=['repository','stars']
)

In [20]:
df

          repository  stars
0     fchollet/keras  11302
1    openai/universe   4350
2  pabdas-dev/pandas   8168

In [21]:
df['stars']

0    11302
1     4350
2     8168
Name: stars, dtype: int64

In [22]:
df['repository']

0       fchollet/keras
1      openai/universe
2    pabdas-dev/pandas
Name: repository, dtype: object

In [24]:
#imprime a média entre as colunas 'stars'
df['stars'].mean()

7940.0

In [25]:
df.iloc[1]

repository    openai/universe
stars                    4350
Name: 1, dtype: object

In [26]:
df.iloc[1]['stars']

4350